body{
    margin: 0px;
    
}
header{
    background-color: rgba(0, 183, 255, 0.829);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0px 10px;
    margin: auto;
    font-size: 1.5em;
    
}


  
li.nav{
    list-style-type: none;
    display: inline;
   text-align: center; 
   padding: 10px 30px;
}

li a {
    color: white;
    font-size: 1.5em;
  
    text-decoration: none;
}
.navbar{
    background-color: black;
   height: 40px;
}
ul.ul1{
   margin: 0cm;
   padding:10px ;
}
#search{
   
    height: 30px;
    width: 3cm;
    float: right;
    font-size: 15px;
    margin: 4px;


}

#section1{
   
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size:1500px 2000px;
    color: black;
  
}
#hiring{
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-top: 5px;
}
#nav2{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-top: 5px;
    color: white;
}
#nav2 b{
    color: black;
}
#para{
    border: 5px solid white;
    border-radius: 5px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 10px 50px;

}
#ul2{
    padding: 15px;
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#ul2 li{
  padding: 5px;
  color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#table table{
    padding: 20px 100px;
    margin: auto;
    font-size: 25px;
    color: rgb(15, 15, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    width: 50%;
   
    border-collapse: collapse;
}
  td {
    text-align: center;
  }
  th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  tr:nth-child(even){
      background-color:  #f2f2f2;
  }
  th {
    background-color: #2869a5;
    color: white;
  }
  #table{
     
      background-repeat: no-repeat;
      background-size:auto;
      list-style-type: disc;
      height: 270px;
     }
     #section2{
        background-image: url(image6.jpg);
        background-repeat: no-repeat;
        background-size:1500px 1000px;
        color: white;
       padding: 6px 400px;
       font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     #section2 h2{
  font-size: 30px;
  text-align: center;
     }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=date], select{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=submit], select{
          background-color: white;
width: 30%;
padding: 14px 20px;
color: rgb(216, 150, 63);
margin: 16px 35%;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      input[type=submit]:hover {
        background-color: #45a049;
        color: white;
      }
      input[type=file], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=text]:focus {
        background-color: lightblue;
      }
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #ffffff;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
      }
      #section3{
       background-color: rgb(177, 168, 162);
       height: 350px;
      }
     #section3 h1{
         font-size: 40px;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         text-align: center;
        margin: 0%;
        padding: 25px;
       
     }
     #support img{
      
       padding :10px 12px;
     }
     #support{
         padding: 0 30px;
     }
     #img1{
         height: 200px;
         width: 22%;
     }
     #img2{
        height:200px;
        width: 25%;
    }
    #img3{
        height: 200px;
    width: 22%;

    }
    #img4{
        height: 200px;
    width: 22%;
    }
    #footer{
        height: 30px;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #time{
      background-color: rgb(196, 192, 192);
width: 30%;
padding: 14px 20px;
color: rgb(0, 0, 0);
margin: 16px 35%;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }